    <title> <%= pageTitle %></title>
    <%- include('./partials/header') %>
   
<!-- Hero Section -->
<section class="hero-section d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1 class="animation-text"><span>Welcome</span>
        <span>To</span>
      <span>Our</span>
    <span>BlogHub ...</span>
    </h1>
        <p class="text-white fw-bold">BlogHub is a modern and dynamic platform where readers and writers come together to explore ideas, share stories, and stay informed. From the latest tech trends and digital innovation to lifestyle tips, creative insights, and thought-provoking opinion pieces</p>
        <!-- search bar -->
         <form action="" class="bg-white p-3 rounded shadow-sm ">
          <div class="row g-2">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Search blog....">
            </div>
            <div class="col-md-4">
              <select name="" id="" class="form-select">
                <option selected>Category</option>
                <option value="">Testing</option>
                <option value="">News</option>
              </select>
            </div>
           
            <div class="col-md-2 justify-content-center">
              <button type="submit" class="btn btn-primary w-100">
                <i class="fas fa-search"></i>
              </button>
            </div>

          </div>
         </form>
      </div>
      
    </div>
  </div>
 </section>
 <!-- Advertisement Section -->
 <section class="py-5 bg-light advertisement_section">
<div class="container text-center">
  <h4 class="text-muted mb-4">Our Trusted Sponors</h4>
  <div class="logo-slider-wrapper py-3 overflow-hidden">
    <div class="logo-slider-track d-flex align-items-center">
<div class="logo-slide mx-3">
  <div class="card border-0 rounded-circle p-2">
  <img src="https://imgs.search.brave.com/zi4EFC3Ze94sTrvPrUNKSMS71oTGg9Q5FqzMa_u7Yfk/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy81/ODQ3Zjk4ZmNlZjEw/MTRjMGI1ZTQ4YzAu/cG5n" alt="github" class="rounded-circle">
</div>
</div>
<div class="logo-slide mx-3">
  <div class="card border-0 rounded-circle p-2">
  <img src="https://imgs.search.brave.com/o9Jb1I706Hv6cN9SduA5lXKU2sCLl9CO-rs69u484z4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAwLzMwLzAzLzYw/LzM2MF9GXzMwMDM2/MDczX2pNbW1wY2E5/T1JpNXpEelVPZkhL/M0ZhWE85M2N4cllX/LmpwZw" alt="github" class="rounded-circle">
</div>
</div>
<div class="logo-slide mx-3">
  <div class="card border-0 rounded-circle p-2">
  <img src="./assets/favicon/apple-touch-icon.png" alt="Blog Management" class="rounded-circle">
</div>
</div>
<div class="logo-slide mx-3">
  <div class="card border-0 rounded-circle p-2">
  <img src="https://imgs.search.brave.com/zmG2XgLx_eF41VyLP8SVufybEDf9G6aRzzowFI-NL4c/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93d3cu/bG9nby53aW5lL2Ev/bG9nby9QSFAvUEhQ/LUxvZ28ud2luZS5z/dmc" alt="github" class="rounded-circle">
</div>
</div>
<div class="logo-slide mx-3">
  <div class="card border-0 rounded-circle p-2">
  <img src="https://imgs.search.brave.com/zi4EFC3Ze94sTrvPrUNKSMS71oTGg9Q5FqzMa_u7Yfk/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy81/ODQ3Zjk4ZmNlZjEw/MTRjMGI1ZTQ4YzAu/cG5n" alt="github" class="rounded-circle" data-name="GitHub">
</div>
</div>
<div class="logo-slide mx-3">
  <div class="card border-0 rounded-circle p-2">
  <img src="https://imgs.search.brave.com/kWgdkrNrtjMJXxI32qS4NUa_wnb1rBxNSPnTqJV27no/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pMC53/cC5jb20vd29yZHBy/ZXNzZm91bmRhdGlv/bi5vcmcvY29udGVu/dC91cGxvYWRzLzIw/MjIvMDIvV29yZFBy/ZXNzLWxvZ290eXBl/LXdtYXJrLnBuZz9y/ZXNpemU9NjYwLDY2/MCZzc2w9MQ" alt="github" class="rounded-circle">
</div>

</div>
<div class="logo-slide mx-3">
  <div class="card border-0 rounded-circle p-2">
  <img src="https://imgs.search.brave.com/DZqhRgeja0LEjMFzA0X2-Qs5Ak3QhrSO28PvuhFRmvg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMtMDAuaWNvbmR1/Y2suY29tL2Fzc2V0/cy4wMC9ub2RlLWpz/LWljb24tNDU0eDUx/Mi1uenRvZngxNy5w/bmc" alt="github" class="rounded-circle">
</div>
</div>
<div class="logo-slide mx-3">
  <div class="card border-0 rounded-circle p-2">
  <img src="https://imgs.search.brave.com/ZIDB3iI8EtzXz9jvb8w4sM-aqZCD5IKK-yzs4qIgcy0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9qcy53/aWtpL2ltZy9jb2xv/ci1naXQuMmYzODJk/OTAuc3Zn" alt="github" class="rounded-circle">
</div>
</div>
<div class="logo-slide mx-3">
  <div class="card border-0 rounded-circle p-2">
  <img src="https://imgs.search.brave.com/zi4EFC3Ze94sTrvPrUNKSMS71oTGg9Q5FqzMa_u7Yfk/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy81/ODQ3Zjk4ZmNlZjEw/MTRjMGI1ZTQ4YzAu/cG5n" alt="github" class="rounded-circle">
</div>
</div>
<div class="logo-slide mx-3">
  <div class="card border-0 rounded-circle p-2">
  <img src="https://imgs.search.brave.com/zi4EFC3Ze94sTrvPrUNKSMS71oTGg9Q5FqzMa_u7Yfk/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy81/ODQ3Zjk4ZmNlZjEw/MTRjMGI1ZTQ4YzAu/cG5n" alt="github" class="rounded-circle">
</div>
</div>

    </div>
  </div>
</div>
 </section>
 <section class="py-5 latest_blog">
  <div class="container">
    <h4 class="text-muted mb-4"> Latest Blog</h4>
    <div class="row g-4 py-4">
      <!-- main card post -->
       <% if(latestPosts.length >0) {%>
      <div class="col-md-6">
        <div class="card border-0 h-100">
          <a href="/single/<%= latestPosts[0]._id.toString() %>"><img src="/<%= latestPosts[0].blog_image %>" alt="lastest_blog" class="card-img-top card-img-bottom"></a>
          <div class="card-body">
            <span class="text-muted"><i class="fa-solid fa-clock"></i> <%= latestPosts[0].createdAt.toDateString() %></span>
            <span class="text-muted"><i class="fa-solid fa-user"></i> <%= latestPosts[0].author.username %></span>
            <span class="text-muted mb-1"> <i class="fa-solid fa-user-tag"></i> <%= latestPosts[0].category.categoryName %></span>
            <a href="/single/<%= latestPosts[0]._id.toString() %>" class="card-title text-start"><h2 class="mt-2 fs-20 fw-bold"><%= latestPosts[0].title.substring(0,50)%>...</h2></a>
            <p class="card-text"><%= latestPosts[0].description.substring(0,300) %>...</p>
            
          </div>
        </div>
      </div>
      <% } %>
      <div class="col-md-6">
        <div class="row g-3">
          <% for(var i = 1; i< Math.min(latestPosts.length, 5);i++){ %>
          <div class="col-6">
            <div class="card border-0 h-100">
             <img src="/<%= latestPosts[i].blog_image %>" alt="lastest_blog"  class="card-img-top card-img-bottom h-100">
              <div class="card-body">
              <span class="text-muted"><i class="fa-solid fa-clock"></i> <%=latestPosts[i].createdAt.toDateString() %></span>
              <span class="text-muted"><i class="fa-solid fa-user"></i> <%= latestPosts[i].author ? latestPosts[i].author.username:"" %></span>
              <a href="/single/<%= latestPosts[i]._id.toString() %>" class="card-title"><h6 class="fs-20 fw-bold"><%= latestPosts[i].title.substring(0,30)%>...</h6></a>
              </div>
            </div>
          </div>
         <%  } %>
        </div>
       </div>
     </div>
    </div>
   </div>   
 </section>
 <section class="py-3 blog-display">
  <div class="container">
    <h4 class="text-muted mb-4">Our Blog</h4>
    <div class="row g-4 py-4">
        <% otherPosts.forEach(otherPosts => { %>
      <div class="col-md-4">
        <div class="card border-0 h-100">
          <img src="/<%=otherPosts.blog_image %>" alt="OurBlog Image" class="card-img-top card-img-bottom">
          <div class="card-body">
            <span class="text-muted"><i class="fa-solid fa-clock"></i> <%=otherPosts.createdAt.toDateString() %></span>
              <span class="text-muted"><i class="fa-solid fa-user"></i> <%= otherPosts.author ? otherPosts.author.username:"" %></span>
              <span class="text-muted"><i class="fa-solid fa-user-tag"></i> <%= otherPosts.category.categoryName %></span>
            <h3 class="card-title fs-25 fw-bold"><%= otherPosts.title %></h3>
            <p><%= otherPosts.description.substring(0,100) %>....</p>
            <a href="/single/<%= otherPosts._id.toString() %>" class="text-primary text-decoration-none mt-1">
              Read <i class="fas fa-arrow-right ms-1"></i>
            </a>
          </div>
        </div>
      </div>
      <% }) %>
     
    
  </div>
 </section>
<%- include('./partials/footer') %>