<title><%= pageTitle %></title>
<%- include('../partials/header') %> 
<%- include('../partials/navbar') %> <%-
include('../partials/sidebar') %>
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Post List</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Post</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title mt-2">Post Info</h3>
              <a href="/admin/post/add" class="btn btn-primary ml-2">Add Post</a>
            </div>
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <input type="hidden" name="id" value="<%= PostList._id %>">
               <tr>
                <th>Title</th>
                <td><%= PostList.title %></td>
              </tr>
              <tr>
                <th>Description</th>
              <td><textarea class="form-control"><%= PostList.description %></textarea></td>
              </tr>
             <tr>
              <th>Category</th>
              <td><%= categoryName %></td>
             </tr>
             <tr>
              <th>Author</th>
              <td><%= author %></td>
             </tr>
             <tr>
              <th>CreatedAt</th>
              <td><%= formatedDate %></td>
             </tr>
              
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- /.content -->
</div>

<%- include('../partials/script') %> <%- include('../partials/footer') %>
